.containerPublicaciones{
    grid-column: 4/10;
    display: grid;
}

.card{
    border:1px solid #eee;
    box-shadow: 0 0 5px #ccc;
    padding:25px 25px 10px 25px;
    border-radius:10px;
    display: grid;
    box-sizing: border-box;
    grid-gap:25px;
}
.fecha{
    color:#a2a2a2;
    font-weight: 300;
    font-size: 15px;
}
.headerCard{
    display: flex;
    justify-content: flex-end;
    
}
.footerCard{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.footerCard p{
    font-size: 15px;
}

.linea{
    border:1px solid #D7DBDD;
    margin:46px 50px 46px 50px;
}
@media (max-width: 860px){
    .containerPublicaciones{
        grid-column: 2/12;
    }
    
.fecha{
    font-size: 17px;
}
.bodyCard p{
    font-size:18px;
}
.footerCard p{
    font-size: 15px;
}
}